@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header>
    <link href="~/css/Index.css" rel="stylesheet">
</header>

<div class="header">
    <h1 class="display-4">Hello World</h1>
</div>
